select{
    margin-top: 10px;
}
.animal-list{
    padding-top: 10px;
}
.animal{
    margin: 10px;
    border: 1px solid #AAA;
}

.nav-justified>li{
    border: 1px solid #2a6496;
}

.main{
    margin: 10px;
    border: 1px solid #000000;
    padding: 5px;
}

form{
    margin: 10px;
}
