.topic{
    background-color: #eff5b8;
    margin: 10px 0px;
}

.topics .topic{
    border: 10px solid;
    border-radius: 20px;
}
.topics .topic .topic-picture img{
    height: 100px;
    width: 100px;
}

.topics .topic .topic-picture{
    padding: 10px 10px;
}

.topics .topic .topic-info{
    padding: 10px 0px 5px 20px;
}