ol, ul{
    /*消除点*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post-info{
    border: 5px solid;
    background-color: #fff;
}

.post-info li{
    border: 5px solid;
    /* padding: 15px; */
    margin: 0px -5px;
}

.post-info li .post-picture{
    padding: 19px;
    border-right: 6px solid;
}
.post-info li .post-picture img{
    height: 100px;
    width: 100px;
}
.page .pagination {
    border: 3px solid;
}

