.header_all{
    padding:20px 0px;
}

.header_logo{

}

.header_animal_centre{

}

.header_community img{
    padding-top: 20px;
}

.header_user{
    padding-top: 20px;
}

#header-new .header_community_new{
    margin-left: 10%;
}